<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tong.dao.RankMapper">
    <!-- SQL语句 -->

    <resultMap id="BaseResultMap" type="com.tong.pojo.Rank">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="songListId" jdbcType="INTEGER" property="songListId"/>
        <result column="consumerId" jdbcType="INTEGER" property="consumerId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>

    </resultMap>


    
    <insert id="insert" parameterType="Rank">
        insert into music.rank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="songListId != null">
                songListId,
            </if>
            <if test="consumerId != null">
                consumerId,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="songListId != null">
                #{songListId},
            </if>
            <if test="consumerId != null">
                #{consumerId},
            </if>
            <if test="score != null">
                #{score},
            </if>
        </trim>
    </insert>




    <select id="selectScoreSum" resultType="Integer" parameterType="java.lang.Integer">
        select COALESCE (sum(score),0) as score
        from rank
        where songListId=#{songListId}
    </select>

    <select id="selectRankNum" resultType="Integer" parameterType="java.lang.Integer">
        select COALESCE(count(*),0) as num
        from rank
        where songListId=#{songListId}
    </select>






</mapper>